<o-form attr="vehicles_form_insert" service="vehicles" entity="vehicles" fxLayout="column" keys="VHC_ID"
    show-header="true" after-insert-mode="close" confirm-exit="false">
    <o-row attr="row1" layout-align="start stretch">
        <o-column title="VEHICLE_DATA" layout-align="start stretch" fxFlex="60" layout-padding>
            <div fxLayout="row" fxLayoutAlign="start center" class="gap">
                <o-text-input attr="VHC_PLATE" class="margin-right-24" fxFlex.lg="30" fxFlex.xl="30"
                    fxFlex="50"></o-text-input>
            </div>
        </o-column>
    </o-row>
</o-form>