<o-form attr="vehicles_form_insert" service="vehicles" entity="vehicles" fxLayout="column" keys="VHC_ID"
    show-header="true" after-insert-mode="close" confirm-exit="false">
    <o-row attr="row1" layout-align="start stretch" class="form-row">
        <o-column title="VEHICLE_NEW" layout-align="start stretch">
            <div class="inline-fields">
                <o-text-input attr="VHC_PLATE"></o-text-input>
                <o-combo attr="USR_ID" service="vehicles" entity="userTransporter" value-column="USR_ID"
                    columns="USR_ID;USR_NAME" visible-columns="USR_NAME" null-selection="no" searchable="no"
                    required="yes"></o-combo>
            </div>
        </o-column>
    </o-row>
</o-form>