.label-text {
    font-size: 13px;
}

.icon-container {
    display: block;
    text-align: start;
}

mat-icon {
    font-size: 20px;
    margin-top: 3px;
    padding-left: 7px;
}


.enabled {
    color: #31a514;
}

.disabled {
    color: grey;
}