o-slide-toggle {
    margin-left: 10px;
}

.row1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container-data-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 75%;
}

.container-name {
    grid-column: span 2;
}

.alerts-count {
    grid-column: span 3;
    text-align: center;
    align-content: center;
}

#devices-table {
    margin-bottom: 16px;
}