<o-form #formCNT attr="containers_form_update" include-parent-keys="yes" parent-keys="CNT_ID" keys-sql-types="INTEGER"
  service="containers" entity="containersWithMeasurements" columns="CNT_NAME" visible-columns="CNT_NAME" keys="CNT_ID"
  fxLayout="column" show-header="yes" header-actions="R;U" after-update-mode="detail" class="standalone-form-container"
  (onDataLoaded)="fillData($event)">
  <o-row class="form-row">
    <o-column class="column-extend">
      <o-row>
        <div style="display: grid; grid-template-rows: auto 1fr; width: 50%;">
          <label class="title">{{ 'CONTAINER_DATA' | oTranslate }}</label>
          <div style="display: grid; grid-template-rows: repeat(4, 1fr);">
            <div class="inline-fields">
              <o-text-input attr="CNT_NAME" style="align-content: center;"></o-text-input>
              <o-slide-toggle attr="CNT_MOBILITY" label="CURRENT_MOBILITY" read-only="no"></o-slide-toggle>
            </div>
            <div class="inline-fields">
              <o-text-input #avgTemp attr="AVG_TEMP" read-only="true" oHidden></o-text-input>
              <o-text-input attr="AVG_TEMP_VISIBLE" label="AVG_TEMP" read-only="true" automatic-registering="false"
                automatic-binding="false" [data]="avgTempVisible"></o-text-input>
              <o-text-input #maxTemp attr="MAX_TEMP_DEV" label="PRO_MAX_TEMP" read-only="true" oHidden></o-text-input>
              <o-text-input attr="MAX_TEMP_VISIBLE" label="PRO_MAX_TEMP" read-only="true" automatic-registering="false"
                automatic-binding="false" [data]="maxTempVisible"></o-text-input>
              <o-text-input #minTemp attr="MIN_TEMP_DEV" label="PRO_MIN_TEMP" read-only="true" oHidden></o-text-input>
              <o-text-input attr="MIN_TEMP_VISIBLE" label="PRO_MIN_TEMP" read-only="true" automatic-registering="false"
                automatic-binding="false" [data]="minTempVisible"></o-text-input>
            </div>
            <div class="inline-fields">
              <o-text-input #avgHumidity attr="AVG_HUMIDITY" read-only="true" oHidden></o-text-input>
              <o-text-input attr="AVG_HUMIDITY_VISIBLE" label="AVG_HUMIDITY" read-only="true"
                automatic-registering="false" automatic-binding="false" [data]="avgHumidityVisible"></o-text-input>
              <o-text-input #maxHumidity attr="MAX_HUMIDITY_DEV" read-only="true" oHidden></o-text-input>
              <o-text-input attr="MAX_HUMIDITY_VISIBLE" label="MAX_HUMIDITY_DEV" read-only="true"
                automatic-registering="false" automatic-binding="false" [data]="maxHumidityVisible"></o-text-input>
              <o-text-input #minHumidity attr="MIN_HUMIDITY_DEV" read-only="true" oHidden></o-text-input>
              <o-text-input attr="MIN_HUMIDITY_VISIBLE" label="MIN_HUMIDITY_DEV" read-only="true"
                automatic-registering="false" automatic-binding="false" [data]="minHumidityVisible"></o-text-input>
            </div>
            <div class="inline-fields">
              <o-text-input #alertsCount attr="ALT_COUNT" read-only="true" oHidden></o-text-input>
              <o-text-input attr="ALT_COUNT_VISIBLE" read-only="true" automatic-registering="false"
                automatic-binding="false" [data]="translateLabel()"></o-text-input>
            </div>
          </div>
        </div>
        <o-column class="column-extend">
          <o-table attr="devicesTable" title="DEVICES" show-title="yes" service="devices" entity="devices"
            include-parent-keys="yes" parent-keys="CNT_ID" query-on-init="true" keys="DEV_ID"
            columns="DEV_ID;DEV_NAME;CNT_ID" visible-columns="DEV_NAME" insert-button="false" delete-button="false"
            refresh-button="false" detail-form-route="CNT_ID;DEV_ID" detail-form-route-params="CNT_ID;DEV_ID"
            virtual-scroll="false">
            <o-table-column attr="DEV_NAME" title="IDENTIFIER"></o-table-column>
          </o-table>
        </o-column>
      </o-row>
      <o-row>
        <o-column class="column-extend">
          <o-table attr="lotHistory" title="LOT_HISTORY" show-title="yes" service="containersLots"
            entity="containersLotsWithAlerts" keys="CL_ID" parent-keys="CNT_ID"
            columns="CL_ID;LOT_NAME;CL_START_DATE;CL_END_DATE;PRO_ID;PRO_NAME;HAS_ALERT"
            visible-columns="LOT_NAME;PRO_NAME;CL_START_DATE;CL_END_DATE;ACTIVE;HAS_ALERT" delete-button="no"
            refresh-button="false" (onClick)="openContainersLots($event)" detail-mode="none" virtual-scroll="false">
            <o-table-column attr="LOT_NAME" title="LOT"></o-table-column>
            <o-table-column attr="CL_START_DATE" title="CL_START_DATE" type="date" format="DD/MM/YYYY"></o-table-column>
            <o-table-column attr="CL_END_DATE" title="CL_END_DATE" type="date" format="DD/MM/YYYY"></o-table-column>
            <o-table-column attr="ACTIVE" title="ACTIVE" title-align="center" content-align="center">
              <in-date-range-boolean-renderer />
            </o-table-column>
            <o-table-column attr="HAS_ALERT" title="HAS_ALERT" title-align="center" content-align="center">
              <alert-boolean-renderer />
            </o-table-column>
          </o-table>
        </o-column>
      </o-row>
    </o-column>
  </o-row>
</o-form>