o-table {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    margin: 10px;
    width: auto;
}

o-slide-toggle {
    margin-left: 10px;
}

.inline-fields-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.o-container-scroll.o-scroll.o-container-gap>div {
    display: grid !important;
    grid-template-rows: repeat(4, 1fr) !important;
}

.inline-fields {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.form-row {
    height: 76vh;
}