<o-form attr="containers_form_update" include-parent-keys="yes" parent-keys="CNT_ID" keys-sql-types="INTEGER"
  service="containers" entity="containers" columns="CNT_NAME" visible-columns="CNT_NAME" keys="CNT_ID" fxLayout="column"
  show-header="yes" header-actions="R;U" #oForm after-update-mode="detail" class="standalone-form-container">
  <o-row attr="row1" layout-align="start stretch">
    <o-column title="CONTAINER_DATA" layout-align="start stretch" fxFlex="60" layout-padding>
      <div fxLayout="row" fxLayoutAlign="start center" class="gap">
        <o-text-input attr="CNT_NAME" class="margin-right-24" fxFlex.lg="30" fxFlex.xl="30" fxFlex="50"
          layout-margin-right></o-text-input>
      </div>
    </o-column>
  </o-row>

  <o-row>
    <o-column class="extend">
      <o-table attr="lotHistory" title="LOT_HISTORY" show-title="yes" service="containersLots" entity="containersLots"
        keys="CL_ID" parent-keys="CNT_ID" columns="CL_ID;LOT_NAME;CL_START_DATE;CL_END_DATE"
        visible-columns="LOT_NAME;CL_START_DATE;CL_END_DATE" delete-button="no" refresh-button="false">
        <o-table-column attr="ACTIVE" title="ACTIVE" title-align="center"
          content-align="center"><app-containers-lots-boolean-renderer /></o-table-column>
        <o-table-column attr="LOT_NAME" title="LOT_NAME"></o-table-column>
        <o-table-column attr="CL_START_DATE" title="CL_START_DATE" type="date" format="DD/MM/YYYY"></o-table-column>
        <o-table-column attr="CL_END_DATE" title="CL_END_DATE" type="date" format="DD/MM/YYYY"></o-table-column>
      </o-table>
    </o-column>

    <o-column class="extend">
      <o-table attr="devicesTable" title="DEVICES" show-title="yes" service="devices" entity="devices"
        include-parent-keys="yes" parent-keys="CNT_ID" query-on-init="true" keys="DEV_ID"
        columns="DEV_ID;DEV_NAME;CNT_ID" visible-columns="DEV_NAME" insert-button="false" delete-button="false"
        refresh-button="false" detail-form-route="CNT_ID;DEV_ID" detail-form-route-params="CNT_ID;DEV_ID">
        <o-table-column attr="DEV_NAME" title="IDENTIFIER"></o-table-column>
      </o-table>
    </o-column>
  </o-row>
</o-form>