o-slide-toggle {
    margin-left: 10px;
}

.row1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 15px;
}

.container-data-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 75%;
}

.container-name {
    grid-column: span 2;
}

.alerts-count {
    grid-column: span 3;
    text-align: center;
    align-content: center;
}

o-table {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}