<o-form #form attr="users_form_edit" service="users" entity="user" header-actions="R;U" include-parent-keys="yes"
  parent-keys="USR_ID" keys="USR_ID" keys-sql-types="INTEGER" columns="USR_ID" show-header="true"
  detect-changes-on-blur="no" undo-button="yes" stay-in-record-after-insert="true">
  <div class="full-screen-background-with-toolbar">
    <div class="section">
      <h2>{{ 'user-login-section' | oTranslate }}</h2>
      <div class="inline-fields">
        <o-text-input attr="USR_LOGIN" required="yes"></o-text-input>
      </div>
    </div>
    <div class="section">
      <h2>{{ 'user-data-section' | oTranslate }}</h2>
      <div class="inline-fields">
        <o-text-input attr="USR_NAME" required="yes"></o-text-input>
        <o-email-input attr="USR_EMAIL" required="yes"></o-email-input>
      </div>
    </div>
    <div class="section">
      <h2>{{ 'COMPANY_DATA' | oTranslate }}</h2>
      <div class="inline-fields">
        <o-combo attr="CMP_ID" service="companies" entity="companies" value-column="CMP_ID" columns="CMP_ID;CMP_NAME"
          visible-columns="CMP_NAME" null-selection="yes" searchable="yes"></o-combo>
        <o-combo attr="ROL_ID" service="users" entity="roleWithoutAdmin" value-column="ROL_ID" columns="ROL_ID;ROL_NAME"
          visible-columns="ROL_NAME" null-selection="no" searchable="no" required="yes" translate="yes"></o-combo>
      </div>
    </div>
  </div>
</o-form>