<o-table attr="containers" title="CONTAINERS" service="containers" entity="containersWithAlerts" keys="CNT_ID"
  columns="CNT_ID;CNT_NAME;CNT_MOBILITY;HAS_ALERT;ME_TEMP;ME_HUMIDITY;LOT_NAME;PRO_NAME"
  visible-columns="CNT_NAME;CNT_MOBILITY;HAS_ALERT;ME_TEMP;ME_HUMIDITY;LOT_NAME;PRO_NAME" delete-button="no"
  show-title="true">

  <o-table-column attr="CNT_NAME" title="IDENTIFIER" content-align="center" title-align="center"></o-table-column>

  <o-table-column attr="CNT_MOBILITY" title="CNT MOBILITY" content-align="center" title-align="center">
    <app-containers-home-boolean-render />
  </o-table-column>

  <o-table-column attr="HAS_ALERT" title="HAS ALERT" content-align="center" title-align="center">
    <alert-boolean-renderer />
  </o-table-column>

  <o-table-column attr="ME_TEMP" title="LAST TEMP (°C)" content-align="center" title-align="center"></o-table-column>

  <o-table-column attr="ME_HUMIDITY" title="LAST HUMIDITY (%)" content-align="center"
    title-align="center"></o-table-column>

  <o-table-column attr="LOT_NAME" title="CURRENT LOT" content-align="center" title-align="center"></o-table-column>

  <o-table-column attr="PRO_NAME" title="PRODUCT" content-align="center" title-align="center"></o-table-column>

</o-table>