<o-form attr="pricesInsertTable" parent-keys="PLN_ID" keys="PLN_ID" keys-sql-types="INTEGER" include-parent-keys="yes"
    query-on-init="true" service="pricing" entity="pricing" header-actions="R;U">
    <o-row class="form-row">
        <o-column class="column-extend">
            <o-column title="PRICES" layout-align="start stretch" layout-padding>
                <div class="inline-fields">
                    <o-text-input attr="PP_FIXED_PRICE" label="PP_FIXED_PRICE" required="yes"></o-text-input>
                    <o-text-input attr="PP_DEV_PRICE" label="PP_DEV_PRICE" required="yes"></o-text-input>
                    <o-text-input attr="PP_BUNDLE_PRICE" label="PP_BUNDLE_PRICE" required="yes"></o-text-input>
                    <o-text-input attr="PP_BUNDLE_REQUESTS" label="PP_BUNDLE_REQUESTS" required="yes"></o-text-input>
                </div>
            </o-column>
            <o-column title="DATES" layout-align="start stretch" layout-padding>
                <div class="inline-fields">
                    <o-date-input #DATES attr="PP_START" value-type="timestamp" label="PP_START" read-only="no"
                        required="yes" type="date" format="DD/MM/YYYY" show-week-numbers="true" mode="desktop"
                        translate="yes">
                    </o-date-input>
                </div>
            </o-column>
        </o-column>
    </o-row>
</o-form>