<o-form keys-sql-types="INTEGER" parent-keys="CL_ID" keys="CL_ID" include-parent-keys="yes" service="containersLots"
  entity="containersLots" show-header="yes" header-actions="U">
  <o-column title="CL_INFO">
    <div class="inline-fields">
      <o-date-input attr="CL_START_DATE" required="yes"></o-date-input>
      <o-date-input attr="CL_END_DATE"></o-date-input>
    </div>
  <br>
    <div class="inline-fields">
      <o-text-input attr="CNT_NAME" read-only="yes"></o-text-input>
      <o-text-input attr="LOT_NAME" read-only="yes"></o-text-input>
      <o-text-input attr="MIN_TEMP" read-only="yes"></o-text-input>
      <o-text-input attr="MAX_TEMP" read-only="yes"></o-text-input>

    </div>
  </o-column>

  <o-table attr="containerLotMeasurements" service="measurements" entity="measurements" keys="ME_ID" parent-keys="CL_ID"
    columns="ME_DATE;ME_TEMP;ME_HUMIDITY;DEV_NAME" visible-columns="ME_DATE;ME_TEMP;ME_HUMIDITY;DEV_NAME"
    query-rows="20" select-all-checkbox-visible="no" insert-button="no" delete-button="no" refresh-button="yes"
    quick-filter="no" pageable="true" virtual-scroll="no" [row-class]="rowClass">
    <o-table-column attr="ME_DATE" title="DATE" type="date" format="DD/MM/YYYY HH:mm:ss"></o-table-column>
    <o-table-column attr="ME_TEMP" title-align="center" content-align="center" title="TEMPERATURE"></o-table-column>
    <o-table-column attr="ME_HUMIDITY" title-align="center" content-align="center" title="HUMIDITY"></o-table-column>
    <o-table-column attr="DEV_NAME" title-align="center" content-align="center"></o-table-column>
  </o-table>
</o-form>