<o-table attr="medidasTable" service="measurements" entity="measurements" keys="me_id"
         columns="me_id;me_date;me_temp;me_humidity;dev_mac"
         visible-columns="me_date;me_temp;me_humidity;dev_mac" query-rows="20"
         select-all-checkbox-visible="no" insert-button="no" delete-button="no" refresh-button="no"
         quick-filter="no">
  <o-table-column attr="me_date" title="DATE" type="date" format="LL"></o-table-column>
  <o-table-column attr="me_temp" title="TEMPERATURE" orderable="no" searchable="no"></o-table-column>
  <o-table-column attr="me_humidity" title="HUMIDITY"></o-table-column>
  <o-table-column attr="dev_mac" title="IDENTIFIER"></o-table-column>
 
</o-table>
