/* You can add global styles to this file, and also import other style files */
.o-form-layout-manager {
  .o-form {
    form {
      height: 100%;
    }
  }
}

/* Form toolbar background color */
.o-form-toolbar .o-form-toolbar-header.mat-toolbar {
  background-color: transparent;
}


.o-column > div.o-container .o-container-scroll.o-container-gap,
.o-row > div.o-container .o-container-scroll.o-container-gap {
  padding: 15px;
}

.avatar.o-image {
  width: 200px;
  height: 200px;

  .o-image-content.o-image-auto-fit {
    .o-image-display-container {
      img {
        border-radius: 50%;
        aspect-ratio: auto 200/200;
        width: 200px;
        height: 200px;
      }
    }

    .o-image-form-field {
      position: absolute;
      bottom: -42px;
    }
  }
}

.avatar.o-image {
  width: 200px;
  height: 200px;

  .o-image-content.o-image-auto-fit {
    .o-image-display-container {
      img {
        border-radius: 50%;
        aspect-ratio: auto 200/200;
        width: 200px;
        height: 200px;
      }
    }

    .o-image-form-field {
      position: absolute;
      bottom: -42px;
    }
  }
}

/* Estilos globales */

/* Barra arriba */
.o-app-header {
  color: #d4cdc7;
  nav {
      background: linear-gradient(95deg, #FAFAFA, #FAFAFA) !important;
      button {
          color: #FAFAFA !important;
      }
  }
}

/* Barra lateral */
.o-app-sidenav .o-app-sidenav-container .mat-drawer.o-app-sidenav-sidenav .mat-drawer-inner-container {
  background: #FAFAFA !important;
}

/* Letras Barra lateral */
.o-app-sidenav .o-app-sidenav-container .mat-drawer.o-app-sidenav-sidenav .mat-drawer-inner-container nav a {
  color: #2b2d42;
}

/* Hamburguesa Barra lateral */
.o-app-sidenav .o-app-sidenav-container .mat-drawer.o-app-sidenav-sidenav .mat-drawer-inner-container .sidenav-toggle {
  color: #2b2d42;
}

/* Fondo de la pagina */
.application-layout-content-wrapper {
  background-color: #FAFAFA !important;
}


/* Campos rellenables */

.mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled {
  display: inline-block;
  width: 100%;
  max-width: 300px;
  font-family: Arial, sans-serif;
  position: relative;
  background-color: #FAFAFA; 
  border: 2px solid #ddd;
  border-radius: 8px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled:hover {
  border-color: #2979BA;
  border-color: inherit !important;

}

.mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled.mdc-text-field--focused {
  border-color: #2979BA;
}

.mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled input {
  padding: 4px 0px;
  font-size: 14px;
  color: #333;
  background: transparent;
}

.mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled input::placeholder {
  color: #aaa; /* Color del texto de marcador */
  font-style: italic;
}


/* Orientacion campos de texto rellenables*/

.inline-fields {
  display: flex;
  gap: 10px;
}

.inline-fields input {
  flex: 1;
}