/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Typography style */
$font-primary: 'Roboto', sans-serif;

/* Color Palette */
$primary-color: #fafafa;
$secondary-color: #2b2d42;
$accent-color: #2979ba;
$error-color: #f44336;
$success-color: #4caf50;

::selection {
  background-color: $accent-color;
  color: $primary-color;
}

.o-form-layout-manager {
  .o-form {
    form {
      height: 100%;
    }
  }
}

/* Form toolbar background color */
.o-form-toolbar .o-form-toolbar-header.mat-toolbar {
  background-color: transparent;
}

.o-column>div.o-container .o-container-scroll.o-container-gap,
.o-row>div.o-container .o-container-scroll.o-container-gap {
  padding: 15px;
}

.avatar.o-image {
  width: 200px;
  height: 200px;

  .o-image-content.o-image-auto-fit {
    .o-image-display-container {
      img {
        border-radius: 50%;
        aspect-ratio: auto 200/200;
        width: 200px;
        height: 200px;
      }
    }

    .o-image-form-field {
      position: absolute;
      bottom: -42px;
    }
  }
}

.avatar.o-image {
  width: 200px;
  height: 200px;

  .o-image-content.o-image-auto-fit {
    .o-image-display-container {
      img {
        border-radius: 50%;
        aspect-ratio: auto 200/200;
        width: 200px;
        height: 200px;
      }
    }

    .o-image-form-field {
      position: absolute;
      bottom: -42px;
    }
  }
}

/* Estilos globales */

/* Barra arriba */
.o-app-header {
  nav {
    background: $primary-color !important;
  }
}

/* Barra lateral */
.o-app-sidenav .o-app-sidenav-container .mat-drawer.o-app-sidenav-sidenav .mat-drawer-inner-container {
  background: $primary-color !important;
}

/* Texto Barra lateral */
.o-app-sidenav .o-app-sidenav-container .mat-drawer.o-app-sidenav-sidenav .mat-drawer-inner-container nav a {
  color: $secondary-color !important;
}

/* Hamburguesa Barra lateral */
.o-app-sidenav .o-app-sidenav-container .mat-drawer.o-app-sidenav-sidenav .mat-drawer-inner-container .sidenav-toggle {
  color: $secondary-color !important;
}

/* Fondo de la pagina */
.application-layout-content-wrapper {
  background-color: #f5f5f5 !important;
}

/* Encabezados de las tabla */
.mat-mdc-header-cell.mdc-data-table__header-cell {
  background-color: #1c4e78 !important;
  color: $primary-color !important;
}

/* Celdas pares de las tabla */
tr.mat-mdc-row.mdc-data-table__row.cdk-row:nth-child(even) {
  background-color: $primary-color;
}

/* Títulos */
.title.ng-star-inserted {
  color: $secondary-color !important;
  font-family: $font-primary !important;
  font-weight: 900 !important;
  font-size: 24px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10px;
}

.o-table .mat-mdc-table .mat-mdc-header-row .mat-mdc-header-cell .column-filter-icon,
.mat-sort-header-arrow {
  color: $primary-color !important;
}

/* Contenedor del título */
.o-data-toolbar {
  padding-top: 10px !important;
  padding: 35px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Botones */
.o-table-button-add.o-table-button.text.ng-star-inserted>.mdc-button.mdc-button--outlined.mat-mdc-outlined-button.mat-unthemed.mat-mdc-button-base.ng-star-inserted {
  background-color: $accent-color;
  color: $primary-color;
  transition: background-color 0.3s;
}

.o-table-button-add.o-table-button.text.ng-star-inserted>.mdc-button.mdc-button--outlined.mat-mdc-outlined-button.mat-unthemed.mat-mdc-button-base.ng-star-inserted:hover {
  background-color: #4193d5;
  transition: background-color 0.3s;
}

.o-form-toolbar-button.o-form-toolbar-button-delete.mdc-button.mdc-button--outlined.mat-mdc-outlined-button.mat-unthemed.mat-mdc-button-base.ng-star-inserted,
.o-form-toolbar-button.o-form-toolbar-button-cancel.mdc-button.mdc-button--outlined.mat-mdc-outlined-button.mat-unthemed.mat-mdc-button-base.ng-star-inserted {
  background-color: $error-color;
  color: $primary-color;
  transition: background-color 0.3s;
}

.o-form-toolbar-button.o-form-toolbar-button-save.mdc-button.mdc-button--outlined.mat-mdc-outlined-button.mat-unthemed.mat-mdc-button-base.ng-star-inserted,
.o-form-toolbar-button.o-form-toolbar-button-insert.mdc-button.mdc-button--outlined.mat-mdc-outlined-button.mat-primary.mat-mdc-button-base.ng-star-inserted {
  background-color: $success-color;
  color: $primary-color;
  transition: background-color 0.3s;

  .mat-icon {
    color: $primary-color !important;
    transition: background-color 0.3s;
  }
}

.o-form-toolbar-button.o-form-toolbar-button-save.mdc-button.mdc-button--outlined.mat-mdc-outlined-button.mat-unthemed.mat-mdc-button-base.ng-star-inserted:hover,
.o-form-toolbar-button.o-form-toolbar-button-insert.mdc-button.mdc-button--outlined.mat-mdc-outlined-button.mat-primary.mat-mdc-button-base.ng-star-inserted:hover {
  background-color: #52c656 !important;
  transition: background-color 0.3s;
}

.o-form-toolbar-button.o-form-toolbar-button-save.mdc-button.mdc-button--outlined.mat-mdc-outlined-button.mat-unthemed.mat-mdc-button-base.ng-star-inserted:disabled {
  background-color: #aaa !important;
  transition: background-color 0.3s;
}

.o-form-toolbar-button.o-form-toolbar-button-delete.mdc-button.mdc-button--outlined.mat-mdc-outlined-button.mat-unthemed.mat-mdc-button-base.ng-star-inserted:hover,
.o-form-toolbar-button.o-form-toolbar-button-cancel.mdc-button.mdc-button--outlined.mat-mdc-outlined-button.mat-unthemed.mat-mdc-button-base.ng-star-inserted:hover {
  background-color: #ff5656;
  transition: background-color 0.3s;
}

/* Campos rellenables */

// Estilos generales para los campos de texto
.mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled {
  display: inline-block;
  width: 100%;
  max-width: 400px;
  position: relative;
  background-color: $primary-color;
  border: 2px solid #ddd;
  border-radius: 3px;
  transition: border-color 0.3s, box-shadow 0.3s;

  &:hover,
  &.mdc-text-field--focused {
    border-color: $accent-color;
    box-shadow: none;
  }

  input::placeholder {
    color: #aaa;
    font-style: italic;
  }
}

// Estilos específicos para campos de solo lectura dentro de .inline-fields
.inline-fields {
  display: flex;
  gap: 5px;

  o-text-input {
    flex: 1;
    flex-grow: 0;
    background-color: transparent;
    color: #333;
    font-size: 14px;
    line-height: 1.6;
    padding: 0;

    &[read-only] {
      cursor: default;
      border: none;
      box-shadow: none;

      .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled {
        outline: none;
        border: none;
        box-shadow: none;

        // color del label superior
        [id^="mat-mdc-form-field-label"] {
          color: #333;
        }
      }

      // quita el sombreado al hacer focus o hover
      .mat-mdc-form-field-focus-overlay {
        background-color: transparent;
      }
    }

    &::placeholder {
      color: #333;
    }
  }

  o-date-input[read-only] {
    color: #333;
    font-size: 14px;
    padding: 0;
  }

  .mdc-line-ripple::before,
  .mdc-line-ripple::after {
    outline: none;
    border: none;
    box-shadow: none;
  }

  .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled {
    height: 50px;
    padding: 0px 7px;
    font-size: 14px;
    color: #333;
    background: transparent;
    line-height: 1.6;
  }
}

.o-table .mat-mdc-table .mat-mdc-row.error-row .mat-mdc-cell.mat-column-ME_TEMP {
  color: red;
}