<o-form attr="devicesTable" parent-keys="DEV_ID" keys="DEV_ID" keys-sql-types="INTEGER" service="devices"
    entity="devices" header-actions="R;U">
    <div class="full-screen-background-with-toolbar">
        <h2>{{ 'ASSIGN_CMP' | oTranslate }}</h2>
        <div class="inline-fields">
            <o-text-input attr="DEV_MAC" read-only="true"></o-text-input>
            <o-combo attr="CMP_ID" service="companies" entity="companies" value-column="CMP_ID"
                columns="CMP_ID;CMP_NAME" visible-columns="CMP_NAME" null-selection="yes" searchable="yes"></o-combo>
        </div>
    </div>
</o-form>