<div class="full-screen-background-table">
    <o-table attr="consumptionsTable" service="bills" entity="bills" keys="BIL_ID"
        columns="BIL_ID;BIL_YEAR;BIL_MONTH;BIL_EXPENSE;BIL_DEVICES;BIL_MEASUREMENTS;CMP_ID"
        visible-columns="BIL_YEAR;BIL_MONTH;BIL_EXPENSE;BIL_DEVICES;BIL_MEASUREMENTS" title="USAGE" query-rows="20"
        select-all-checkbox-visible="no" insert-button="no" delete-button="no" refresh-button="yes" quick-filter="no"
        pageable="true" detail-mode="click" show-title="yes" sort-columns="BIL_YEAR:DESC;BIL_MONTH:DESC"
        virtual-scroll="false">
        <o-table-column attr="BIL_YEAR" title-align="center" content-align="center"></o-table-column>
        <o-table-column attr="BIL_MONTH" title-align="center" content-align="center">
            <bills-month-renderer></bills-month-renderer>
        </o-table-column>
        <o-table-column attr="BIL_EXPENSE" format="" title-align="center" content-align="center" type="currency"
            currency-symbol=""></o-table-column>
        <o-table-column attr="BIL_DEVICES" title-align="center" content-align="center"></o-table-column>
        <o-table-column attr="BIL_MEASUREMENTS" title-align="center" content-align="center"></o-table-column>
        <o-table-column attr="CMP_NAME" title-align="center" content-align="center"></o-table-column>
    </o-table>
</div>