<o-form attr="plansTable" parent-keys="PLN_ID" keys="PLN_ID" keys-sql-types="INTEGER" include-parent-keys="yes"
  query-on-init="true" service="plan" entity="plan" header-actions="R;U">

  <o-column title="NAME" layout-align="start stretch" layout-padding>
    <div class="inline-fields">
      <o-text-input attr="PLN_NAME" label="PLN_NAME" required="yes"></o-text-input>
    </div>
  </o-column>

  <o-table attr="pricesTable" title="PRICES" show-title="yes" service="pricing" entity="pricing"
    include-parent-keys="yes" parent-keys="PLN_ID" query-on-init="true" keys="PLANPRICES_ID"
    columns="PLANPRICES_ID;PLANPRICES_FIXEDPRICE;PLANPRICES_DEVPRICE;PLANPRICES_BUNDLEPRICE;PLANPRICES_BUNDLEREQUESTS;PLANPRICES_START;PLANPRICES_END;PLN_ID"
    visible-columns="PLANPRICES_FIXEDPRICE;PLANPRICES_DEVPRICE;PLANPRICES_BUNDLEPRICE;PLANPRICES_BUNDLEREQUESTS;PLANPRICES_START;PLANPRICES_END"
    insert-button="true" delete-button="false" refresh-button="false" searchable="false" detail-mode="none">
    <o-table-column attr="PLANPRICES_FIXEDPRICE" title="PLANPRICES_FIXEDPRICE"></o-table-column>
    <o-table-column attr="PLANPRICES_DEVPRICE" title="PLANPRICES_DEVPRICE"></o-table-column>
    <o-table-column attr="PLANPRICES_BUNDLEPRICE" title="PLANPRICES_BUNDLEPRICE"></o-table-column>
    <o-table-column attr="PLANPRICES_BUNDLEREQUESTS" title="PLANPRICES_BUNDLEREQUESTS"></o-table-column>
    <o-table-column attr="PLANPRICES_START" title="PLANPRICES_START"></o-table-column>
    <o-table-column attr="PLANPRICES_END" title="PLANPRICES_END"></o-table-column>
  </o-table>


</o-form>