<o-form attr="plansTable" parent-keys="PLN_ID" keys="PLN_ID" keys-sql-types="INTEGER" include-parent-keys="yes"
  service="plan" entity="plan" header-actions="R;U">

  <o-column title="DEVICE_DATA" layout-align="start stretch" layout-padding>
    <div class="inline-fields">
      <o-text-input attr="PLN_NAME" label="PLN_NAME"></o-text-input>
      <o-text-input attr="PLN_FXDPRC" label="PLN_FXDPRC"></o-text-input>
      <o-text-input attr="PLN_DEVPRC" label="PLN_DEVPRC"></o-text-input>
      <o-text-input attr="PLN_BNDLEPRC" label="PLN_BNDLEPRC"></o-text-input>
      <o-text-input attr="PLN_BNDLEREQUEST" label="PLN_BNDLEREQUEST"></o-text-input>
      <o-text-input attr="PLN_START" label="PLN_START"></o-text-input>
    </div>
  </o-column>

</o-form>