<o-form attr="plansTable" parent-keys="PLN_ID" keys="PLN_ID" keys-sql-types="INTEGER" include-parent-keys="yes"
  query-on-init="true" service="plan" entity="plan" header-actions="R;U">

  <o-column title="NAME" layout-align="start stretch" layout-padding>
    <div class="inline-fields">
      <o-text-input attr="PLN_NAME" label="PLN_NAME" required="yes"></o-text-input>
    </div>
  </o-column>
  <o-column title="PRICES" layout-align="start stretch" layout-padding>
    <div class="inline-fields">
      <o-text-input attr="PRC_FPRC" label="PLN_FXDPRC" required="yes"></o-text-input>
      <o-text-input attr="PRC_DPRC" label="PLN_DEVPRC" required="yes"></o-text-input>
      <o-text-input attr="PRC_BPRC" label="PLN_BNDLEPRC" required="yes"></o-text-input>
      <o-text-input attr="PRC_BREQ" label="PLN_BNDLEREQUEST" required="yes"></o-text-input>
    </div>
  </o-column>
  <o-column title="DATES" layout-align="start stretch" layout-padding>
    <div class="inline-fields">
      <o-date-input #DATES attr="PRC_START" value-type="timestamp" label="PLN_START" read-only="no" required="yes"
        format="DD/MM/YYYY" show-week-numbers="true" mode="desktop" translate="yes">
      </o-date-input>
      <o-date-input #DATES attr="PRC_END" value-type="timestamp" label="PLN_END" read-only="no" required="no"
        format="DD/MM/YYYY" show-week-numbers="true" mode="desktop" translate="yes">
      </o-date-input>
    </div>
  </o-column>


</o-form>