<o-form attr="products_form_insert" service="products" entity="products" fxLayout="column" keys="PRO_ID"
    show-header="true" after-insert-mode="close" confirm-exit="false">
    <div class="full-screen-background-with-toolbar">
        <h2>{{ 'PRO_NEW' | oTranslate }}</h2>
        <div class="inline-fields-3">
            <o-text-input attr="PRO_NAME" required="true"></o-text-input>
            <o-real-input attr="PRO_MIN_TEMP" label="PRO_MIN_TEMP_COL" required="true"
                clear-button="yes" max-decimal-digits="2" sql-type="DOUBLE"></o-real-input>
            <o-real-input attr="PRO_MAX_TEMP" label="PRO_MAX_TEMP_COL" required="true"
                clear-button="yes" max-decimal-digits="2" sql-type="DOUBLE"></o-real-input>
        </div>
    </div>
</o-form>