<o-form show-header="no" query-on-init="no" confirm-exit="no">
    <div class="full-screen-background">

        <div>
            <h2>{{ 'FILTER_ALERTS' | oTranslate }}</h2>
            <div class="inline-fields-3">
                <o-combo attr="contenedor" label="CONTAINER" service="alerts" entity="containersAlerts"
                    value-column="CNT_NAME" columns="CNT_ID;CNT_NAME" visible-columns="CNT_NAME" searchable="yes"
                    null-selection="yes" clear-button="yes"></o-combo>
                <o-combo attr="lote" label="LOT" service="alerts" entity="containersAlerts" value-column="LOT_NAME"
                    columns="LOT_ID;LOT_NAME" visible-columns="LOT_NAME" searchable="yes" null-selection="yes"
                    clear-button="yes"></o-combo>
                <o-combo attr="estado" label="ALT_STATES" value-column="ALT_STATE" columns="ALT_STATE"
                    visible-columns="ALT_STATE" null-selection="yes" searchable=" yes" translate="yes"
                    clear-button="yes" [static-data]="integersArray">
                </o-combo>
                <o-button attr="clear" [oFilterBuilderClear]="filterBuilder" type="BASIC" label="CLEAR"
                    icon="clear"></o-button>
            </div>
        </div>
        <div>
            <o-filter-builder #filterBuilder attr="thefilter" filters="lote;contenedor;estado" [target]="alertsTable"
                query-on-change="yes" query-on-change-delay="500" [expression-builder]="createFilter">
            </o-filter-builder>

            <o-table #alertsTable class="table-adjust" attr="alertsTable" service="alerts"
                entity="alertsWithCalculatedColumns" keys="ALT_ID"
                columns="ALT_ID;ALT_DATE_INIT;ALT_DATE_END;CNT_NAME;LOT_NAME;AVG_TEMP;AVG_HUMIDITY;MAX_TEMP_DEV;MAX_HUMIDITY_DEV;MIN_TEMP_DEV;MIN_HUMIDITY_DEV;ALT_MIN_TEMP;ALT_MAX_TEMP;PRO_ID;PRO_NAME;ALT_STATE;DEV_NAME"
                visible-columns="ALT_STATE;ALT_DATE_INIT;DEV_NAME;CNT_NAME;LOT_NAME;PRO_NAME;ALT_DURATION;ALT_MIN_TEMP;ALT_MAX_TEMP;MIN_TEMP_DEV;MAX_TEMP_DEV;AVG_HUMIDITY"
                select-all-checkbox-visible="yes" insert-button="no" delete-button="no" refresh-button="yes"
                quick-filter="no" detail-mode="click" title="ALERTS" show-title="yes" sort-columns="ALT_DATE_INIT:DESC"
                virtual-scroll="false" horizontal-scroll="true" quick-filter="yes" selection-mode="none"
                [row-class]="getRowClass" query-rows="15">

                <o-table-button label="BTN_SAVED" icon="check" (onClick)="selectionRow($event)"></o-table-button>

                <o-table-column attr="ALT_STATE" fxLayoutGap="1px" auto-commit="false">
                    <o-table-cell-renderer-boolean render-true-value="check" render-false-value="warning"
                        render-type="icon" boolean-type="boolean-type" true-value="true" false-value="false">

                    </o-table-cell-renderer-boolean>
                    <o-table-cell-editor-boolean show-notification-on-edit="false" true-value="true" false-value="false"
                        boolean-type="boolean-type">
                    </o-table-cell-editor-boolean>
                </o-table-column>


                <o-table-column attr="ALT_DATE_INIT" title="DATE" type="date" format="DD/MM/YYYY HH:mm:ss"
                    content-align="center"></o-table-column>
                <o-table-column attr="CNT_NAME" title="CONTAINER" content-align="center"></o-table-column>
                <o-table-column attr="DEV_NAME" title="DEV" content-align="center"></o-table-column>
                <o-table-column attr="LOT_NAME" title="LOT" content-align="center"></o-table-column>
                <o-table-column attr="ALT_DURATION" title="DURATION" content-align="center">
                    <app-alerts-duration-renderer></app-alerts-duration-renderer>
                </o-table-column>
                <o-table-column attr="ALT_MIN_TEMP" title="ALT_MIN_TEMP_COL" content-align="center">
                    <o-table-cell-renderer-real max-decimal-digits="2"></o-table-cell-renderer-real>
                </o-table-column>
                <o-table-column attr="ALT_MAX_TEMP" title="ALT_MAX_TEMP_COL" content-align="center">
                    <o-table-cell-renderer-real max-decimal-digits="2"></o-table-cell-renderer-real>
                </o-table-column>
                <o-table-column title="MAX_TEMP" attr="MAX_TEMP_DEV" content-align="center"></o-table-column>
                <o-table-column attr="MIN_TEMP_DEV" title="MIN_TEMP" content-align="center"></o-table-column>
                <o-table-column attr="AVG_HUMIDITY" title="AVG_HUMIDITY_COL" content-align="center"></o-table-column>

            </o-table>
        </div>
    </div>
</o-form>