<p>Devices detail</p>

<o-form attr="medidasTable" include-parent-keys="yes" parent-keys="DEV_ID" keys-sql-types="INTEGER" service="devices"
    entity="devices">
    <o-text-input attr="DEV_MAC"></o-text-input>
    <o-text-input attr="DEV_ID"></o-text-input>
    
    <o-column>
    <!-- Fechas -->
        <div fxLayout="column" layout-padding>
            <label class="input-comp-title">Date range filter</label>
            <o-daterange-input attr="ME_DATE" label="Choose a range of dates to filter" read-only="no" 
            required="no" format="DD/MM/YYYY" show-week-numbers="true" mode="desktop" automatic-binding="false">
            </o-daterange-input>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
            <o-button attr="filter" [oFilterBuilderQuery]="filterBuilder" type="RAISED" color="primary" label="Filter" class="filter-button"></o-button>
            <o-button attr="clear" [oFilterBuilderClear]="filterBuilder" type="RAISED" label="Clear" class="filter-button"></o-button>
        </div>
    </o-column>

    <o-filter-builder #filterBuilder attr="thefilter" filters="DEV_ID:DEV_ID;ME_DATE:ME_DATE" [target]="measurementsTable"
    query-on-change="no" [expression-builder]="createFilter"></o-filter-builder>

    <o-table #measurementsTable attr="tablaMedidas" service="measurements" entity="measurements" columns="ME_DATE;ME_TEMP"
    (onDataLoaded)="fillChart()">
        <o-table-column attr="ME_DATE" title="DATE" type="date" format="DD/MM/YYYY HH:mm:ss"></o-table-column>
        <o-table-column attr="ME_TEMP" title="TEMPERATURE"></o-table-column>
    </o-table>
    
    <!-- Grafica-->
    <o-chart #lineChartBasic type="line" x-label="Time" y-label="Temperature (ºC)" x-axis="ME_DATE" y-axis="ME_TEMP" 
    x-data-type="timeDetail" [chart-parameters]="chartParameters" [color]="colorScheme"></o-chart>
</o-form>