<p>Devices detail</p>

<o-form attr="medidasTable" include-parent-keys="yes" parent-keys="DEV_ID" keys-sql-types="INTEGER" service="devices"
    entity="devices">
    <o-text-input attr="DEV_MAC"></o-text-input>
    <o-text-input attr="DEV_ID"></o-text-input>

    <o-filter-builder #filterBuilder attr="thefilter" filters="DEV_ID;ME_DATE;" [target]="lineChartBasic"
    query-on-change="yes" query-on-change-delay="500" query-on-change-event-type="onValueChange" 
    [expression-builder]="createFilter"></o-filter-builder>

    <o-chart #lineChartBasic type="line" parent-keys="DEV_ID" x-label="Time" y-label="Temperature (ºC)" service="measurements"
    entity="measurements" x-axis="ME_DATE" y-axis="ME_TEMP" x-data-type="timeDetail" [chart-parameters]="chartParameters" [color]="colorScheme"></o-chart>
</o-form>

<div fxLayout="column" layout-padding>
    <label class="input-comp-title">Date range filter</label>
    <o-daterange-input attr="rangoFechas" label="Choose a range of dates to filter" read-only="no"
      required="no" format="DD/MM/YYYY" show-week-numbers="true" mode="desktop">
    </o-daterange-input>
</div>