<o-form attr="companies_form_insert" service="companies" entity="companies" keys="CMP_ID" show-header="true"
  after-insert-mode="close" confirm-exit="false">
  <div class="full-screen-background-with-toolbar">
    <h2>{{ 'COMPANY_NEW' | oTranslate }}</h2>
    <div class="inline-fields">
      <o-text-input attr="CMP_NAME" required="true"></o-text-input>
      <o-combo attr="PLN_ID" label="PLAN_ASSIGN" service="plan" entity="plan" value-column="PLN_ID"
        columns="PLN_ID;PLN_NAME" visible-columns="PLN_NAME" null-selection="no" searchable="yes" required="true">
      </o-combo>
    </div>
  </div>
</o-form>