<o-form attr="companies_form_insert" service="companies" entity="companies" fxLayout="column" keys="CMP_ID"
  show-header="true" after-insert-mode="close"  confirm-exit="false">
  <o-row attr="row1" layout-align="start stretch">
    <o-column title="COMPANY_DATA" layout-align="start stretch" fxFlex="60" layout-padding>
      <div fxLayout="row" fxLayoutAlign="start center" class="gap">
        <o-text-input attr="CMP_NAME" class="margin-right-24" fxFlex.lg="30" fxFlex.xl="30" fxFlex="50"></o-text-input>
      </div>
    </o-column>
  </o-row>
</o-form>
