<o-form-layout-manager mode="tab" store-state="no" title="USERS" label-columns="USR_NAME"
  attr="o-form-layout-users-home" title-data-origin="users_form_edit">
  <o-form show-header="no" query-on-init="no" fxFill>

    <filter title="FILTER_USERS">
      <div fxLayout="row" fxLayoutGap="15px">
        <o-text-input attr="name" label="USR_NAME"></o-text-input>
        <o-text-input attr="login" label="USR_LOGIN"></o-text-input>
        <o-text-input attr="company" label="CMP_NAME"></o-text-input>

        <o-button attr="filter" [oFilterBuilderQuery]="filterBuilder" type="FLAT" color="primary" label="BUTTON.FILTER">
        </o-button>
        <o-button attr="clear" [oFilterBuilderClear]="filterBuilder" type="BASIC" label="BUTTON.CLEARFILTERS"
          icon="clear"></o-button>
      </div>
      <o-filter-builder #filterBuilder attr="thefilter" filters="name;login;company" [target]="usersTable"
        query-on-change="no" query-on-change-delay="500" [expression-builder]="createFilter">
      </o-filter-builder>
    </filter>

    <o-table #usersTable attr="users" service="users" entity="userWithCompanyName" keys="USR_ID"
      columns="USR_ID;USR_NAME;USR_LOGIN;CMP_ID" visible-columns="USR_NAME;USR_LOGIN;CMP_NAME" sort-columns="USR_NAME"
      query-rows="25" quick-filter="yes" row-height="medium" pageable="no" query-on-init="yes" query-on-bind="false"
      select-all-checkbox-visible="yes" insert-button="yes" delete-button="yes" refresh-button="no" fixed-header="yes"
      class="home-table" fxFlex export-mode="local">
      <o-table-columns-filter columns="USR_NAME;USR_LOGIN"></o-table-columns-filter>
    </o-table>

  </o-form>
</o-form-layout-manager>