<div class="container">
    <div #cy id="cy"></div>
    <div id="legend">
        <h3>{{ "LEGEND" | oTranslate }}</h3>
        <div class="legend-item">
            <span class="legend-shape material-icons">square</span> {{ "INIT_NODE" | oTranslate }}
        </div>
        <div class="legend-item">
            <span class="legend-shape material-icons">circle</span> {{ "INTER_NODE" | oTranslate }}
        </div>
        <div class="legend-item">
            <span class="legend-color material-icons node">square</span> {{ "NORMAL_NODE" | oTranslate }}
        </div>
        <div class="legend-item">
            <span class="legend-color material-icons alert">square</span> {{ "ALERT_NODE" | oTranslate }}
        </div>
    </div>
</div>