<o-form attr="transports_form_insert" service="transports" entity="transports" fxLayout="column" keys="TRP_ID"
  show-header="true" after-insert-mode="close" confirm-exit="false">
  <o-row attr="row1" layout-align="start stretch">
    <o-column title="TRP_NEW" layout-align="start stretch" layout-padding>
      <div class="inline-fields">
        <o-combo attr="TRP_ORIGIN" label="TRP_ORIGIN" service="transports" entity="transportsLocation"
          value-column="LOC_ID" columns="LOC_ID;LOC_NAME" visible-columns="LOC_NAME" null-selection="no"
          searchable="yes" required="yes"></o-combo>
        <o-combo attr="TRP_DESTINATION" label="TRP_DESTINATION" service="transports" entity="transportsLocation"
          value-column="LOC_ID" columns="LOC_ID;LOC_NAME" visible-columns="LOC_NAME" null-selection="no"
          searchable="yes" required="yes"></o-combo>
        <o-combo attr="CNT_ID" label="CONTAINER" service="transports" entity="transportsMovility" value-column="CNT_ID"
          columns="CNT_ID;CNT_NAME" visible-columns="CNT_NAME" null-selection="no" searchable="yes"
          required="yes"></o-combo>
        <o-combo attr="VHC_ID" label="VEHICLE" service="transports" entity="transportsPlate" value-column="VHC_ID"
          columns="VHC_ID;VHC_PLATE" visible-columns="VHC_PLATE" null-selection="no" searchable="yes"
          required="yes"></o-combo>
        <o-date-input attr="TRP_DATE" label="DELIVERY_DATE" read-only="no" required="yes"></o-date-input>
      </div>
    </o-column>
  </o-row>
</o-form>