o-table {
    box-shadow: none;
}

.tab-label {
    font-weight: bold;
}

#date-range {
    margin-bottom: 25px;
}

.row1 {
    display: grid;
    grid-template-columns: 49% 49%;
}

p {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

#tablaMedidasContainer {
    display: none !important;
}

.label {
    padding-left: 7px;
    font-size: 10px;
    color: #333333;
}

.inline-fields-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#alerts-text {
    width: fit-content;
    padding: 3px 10px;
    border-radius: 4px;
}

.alerts-count-active {
    background-color: #ca1717;
    color: #fafafa;
    font-weight: bold;
}