<o-form attr="proDetail" parent-keys="PRO_ID" keys="PRO_ID" keys-sql-types="INTEGER" service="products"
    entity="products" header-actions="R;U;D">
    <o-row attr="row1" layout-align="start stretch">
        <o-column title="PRO_DETAIL" layout-align="start stretch" fxFlex="60" layout-padding>
            <div class="inline-fields">
                <o-text-input attr="PRO_NAME" fxFlex.xl="17" required="yes"></o-text-input>
                <o-real-input attr="PRO_MIN_TEMP" fxFlex.xl="17" clear-button="yes"></o-real-input>
                <o-real-input attr="PRO_MAX_TEMP" fxFlex.xl="17" clear-button="yes"></o-real-input>
            </div>
        </o-column>
    </o-row>
</o-form>