<div class="full-screen-background-table">
  <o-table attr="transports" title="TRANSPORTS" show-title="yes" service="transports" entity="transportsPerUser"
    keys="TRP_ID" columns="TRP_ID;ORIGIN_NAME;DESTINATION_NAME;TRP_DATE;VHC_PLATE;TST_NAME"
    visible-columns="ORIGIN_NAME;DESTINATION_NAME;TRP_DATE;VHC_PLATE;TST_NAME" delete-button="no" insert-button="no"
    virtual-scroll="false">
    <o-table-column attr="ORIGIN_NAME" title-align="center" content-align="center"></o-table-column>
    <o-table-column attr="DESTINATION_NAME" title-align="center" content-align="center"></o-table-column>
    <o-table-column attr="TRP_DATE" title="DATE" type="date" format="DD/MM/YYYY" title-align="center"
      content-align="center"></o-table-column>
    <o-table-column attr="VHC_PLATE" title="VEHICLES" title-align="center" content-align="center"></o-table-column>
    <o-table-column attr="TST_NAME" title-align="center" content-align="center">
      <app-transporters-column-renderer></app-transporters-column-renderer>
    </o-table-column>
  </o-table>
</div>