<o-table attr="productsTable" service="products" entity="products" keys="PRO_ID"
    columns="PRO_ID;PRO_NAME;PRO_MIN_TEMP;PRO_MAX_TEMP" visible-columns="PRO_NAME;PRO_MIN_TEMP;PRO_MAX_TEMP"
    query-rows="20" select-all-checkbox-visible="no" insert-button="yes" delete-button="no" refresh-button="yes"
    quick-filter="no" pageable="true" detail-mode="none" title="PRODUCTS" show-title="yes">
    <!-- Columnas de la Tabla -->
    <o-table-column attr="PRO_NAME" title-align="center" content-align="center"></o-table-column>
    <o-table-column attr="PRO_MIN_TEMP" title-align="center" content-align="center"></o-table-column>
    <o-table-column attr="PRO_MAX_TEMP" title-align="center" content-align="center"></o-table-column>

</o-table>