<div class="full-screen-background-table">
    <o-table attr="vehicles" title="VEHICLES" service="vehicles" entity="vehicles" keys="VHC_ID"
        columns="VHC_ID;VHC_PLATE;CMP_ID;USR_ID;USR_NAME" visible-columns="VHC_PLATE;USR_NAME" delete-button="no"
        show-title="true" virtual-scroll="false" horizontal-scroll="true" query-rows="20">
        <o-table-column attr="VHC_PLATE" title="VHC_PLATE" title-align="center" content-align="center"></o-table-column>
        <o-table-column attr="USR_NAME" title="TRP_NAME"></o-table-column>
    </o-table>
</div>