<o-form attr="locations_form_insert" service="locations" entity="locations" fxLayout="column" keys="LOC_ID"
  show-header="true" after-insert-mode="close" confirm-exit="false">
  <o-row attr="row1" layout-align="start stretch">
    <o-column title="LOC_NEW" layout-align="start stretch">
      <div class="inline-fields">
        <o-text-input attr="LOC_NAME" label="NAME" class="margin-right-24" required="yes"></o-text-input>
        <o-text-input attr="LOC_ADDRESS" class="margin-right-24" required="yes"></o-text-input>
      </div>
    </o-column>
  </o-row>
</o-form>