:host ::ng-deep .chart-legend,
o-table {
  display: none !important;
}

o-button {
  max-width: 40%;
  align-content: center;
}

#measurements-historic {
  align-items: center;
}

#filter {
  margin-right: 10px;
}

.chart-grid {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  margin: 10px;
  padding: 8px;
  width: auto;
}