:host ::ng-deep .chart-legend,
o-table {
  display: none !important;
}

o-button {
  max-width: 40%;
  align-content: center;
}

#measurements-historic {
  margin-bottom: 20px;
  align-items: center;
}

#filter {
  margin-right: 10px;
}