:host ::ng-deep .chart-legend,
o-table {
  display: none !important;
}

o-daterange-input {
  width: 270px
}

o-button {
  max-width: 40%;
  align-content: center;
}

#measurements-historic {
  margin-bottom: 20px;
}