<o-form attr="lotsDetail" parent-keys="LOT_ID" keys="LOT_ID" keys-sql-types="INTEGER" service="lots" entity="lots"
  header-actions="R;U" (onDataLoaded)="updateGraph($event)">
  <div class="full-screen-background-with-toolbar">
    <div class="section">
      <h2>{{ 'LOT_DETAIL' | oTranslate }}</h2>
      <div class="inline-fields-4">
        <o-text-input #lotName attr="LOT_NAME" label="NAME" required="yes"></o-text-input>
        <o-combo #productCombo attr="PRO_ID" label="PRO_NAME" service="products" entity="products" value-column="PRO_ID"
          columns="PRO_ID;PRO_NAME;PRO_MIN_TEMP;PRO_MAX_TEMP" visible-columns="PRO_NAME" null-selection="no"
          searchable="yes" required="true"></o-combo>
        <o-real-input #minTempInput attr="MIN_TEMP" clear-button="yes"></o-real-input>
        <o-real-input #maxTempInput attr="MAX_TEMP" clear-button="yes"></o-real-input>
        <o-button attr="LOT_IMPORT" type="RAISED" label="LOT_IMPORT" layout-padding color="primary"
          (onClick)="importTemperature()"></o-button>
      </div>
    </div>
    <div>

      <o-table attr="containersInLot" title="CONTAINERS_HISTORY" show-title="yes" service="containersLots"
        entity="containersOfLot" keys="CL_ID" parent-keys="LOT_ID"
        columns="CL_ID;CNT_NAME;CNT_MOBILITY;CNT_ID;CL_START_DATE;CL_END_DATE;HAS_ALERT;ME_TEMP;ME_HUMIDITY"
        visible-columns="HAS_ALERT;CNT_NAME;CNT_MOBILITY;CL_START_DATE;CL_END_DATE;ME_TEMP;ME_HUMIDITY;ACTIVE"
        delete-button="no" insert-button="false" refresh-button="true"
        sort-columns="CL_END_DATE:DESC;CL_START_DATE:DESC" virtual-scroll="false" (onClick)="openContainersLots($event)"
        detail-mode="none" horizontal-scroll="true">
        <o-table-column attr="HAS_ALERT" title="ALT_COUNT_VISIBLE" title-align="center" content-align="center"
          max-width="24px">
          <alert-boolean-renderer />
        </o-table-column>
        <o-table-column attr="CNT_NAME" title="CNT_NAME"></o-table-column>
        <o-table-column attr="CNT_MOBILITY" title="CNT_MOBILITY" title-align="center" content-align="center"
          max-width="105px" min-width="100px">
          <app-containers-home-boolean-renderer /></o-table-column>
        <o-table-column attr="CL_START_DATE" title="CL_START_DATE" type="date" format="DD/MM/YYYY" title-align="center"
          content-align="center"></o-table-column>
        <o-table-column attr="CL_END_DATE" title="CL_END_DATE" type="date" format="DD/MM/YYYY" title-align="center"
          content-align="center"></o-table-column>
        <o-table-column attr="ME_TEMP" title="LAST_TEMP_COL" content-align="center"
          title-align="center"></o-table-column>
        <o-table-column attr="ME_HUMIDITY" title="LAST_HUMIDITY_COL" content-align="center"
          title-align="center"></o-table-column>
        <o-table-column attr="ACTIVE" title="ACTIVE" title-align="center" content-align="center" max-width="105px"
          min-width="100px">
          <in-date-range-boolean-renderer />
        </o-table-column>
      </o-table>
    </div>
    <div id="graphDiv">
      <h1 id="graphTitle">{{ 'GRAPH_TITLE' | oTranslate }}</h1>
      <app-lots-graph [graphData]="graphData"></app-lots-graph>
    </div>
  </div>
</o-form>