thead,
tfoot {
    background-color: #1c4e78;
    color: #fafafafa;
}

tbody {
    background-color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    height: 200px;
}

th,
td {
    border-bottom: 1px solid rgb(128, 126, 126, .2);
    padding: 8px 10px;
}

.centerNumb {
    text-align: center;
}

#row1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
    padding-right: 8px;
}

#usage-detail {
    margin-left: 15px;
}

#usage-detail-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}