<o-form attr="costTable" service="bills" entity="billsWithPlan" include-parent-keys="yes" parent-keys="BIL_ID"
    keys="BIL_ID" keys-sql-types="INTEGER" columns="BIL_ID" show-header="false" detect-changes-on-blur="no">
    <o-row attr="row1" layout-align="start stretch">
        <o-column title="USAGE_DETAIL" layout-align="start stretch">
            <div class="inline-fields">
                <o-text-input attr="BIL_YEAR" read-only="true"></o-text-input>
                <o-text-input attr="BIL_MONTH" read-only="true" #bil_month hidden></o-text-input>
                <o-text-input attr="BIL_MONTH_TEXT" label="BIL_MONTH" automatic-binding="false"
                    automatic-registering="false" read-only="true"
                    [data]="bil_month.getValue() | monthRenderer | oTranslate"></o-text-input>
                <o-text-input attr="BIL_DEVICES" read-only="true"></o-text-input>
                <o-real-input attr="BIL_EXPENSE" read-only="true"></o-real-input>
                <o-text-input attr="BIL_MEASUREMENTS" read-only="true"></o-text-input>
            </div>
        </o-column>
    </o-row>
    <o-row attr="row2" layout-align="start stretch">
        <o-column title="PLANS_DETAIL" layout-align="start stretch">
            <div class="inline-fields">
                <o-real-input attr="PP_FIXED_PRICE" read-only="true"></o-real-input>
                <o-real-input attr="PP_DEV_PRICE" read-only="true"></o-real-input>
                <o-text-input attr="PP_BUNDLE_REQUESTS" read-only="true"></o-text-input>
            </div>
        </o-column>
    </o-row>
    <o-table attr="costTable" service="devices" entity="devicesWithMeasurementCount" keys="DEV_ID" parent-keys="BIL_ID"
        columns="DEV_ID;DEV_NAME;ME_COUNT" visible-columns="DEV_NAME;ME_COUNT" query-rows="20"
        select-all-checkbox-visible="no" insert-button="no" delete-button="no" refresh-button="no" detail-mode="none"
        title="DEVICES" show-title="yes" refresh-button="yes" virtual-scroll="no">
        <o-table-column attr="DEV_NAME" title="DEV" title-align="center" content-align="center"></o-table-column>
        <o-table-column attr="ME_COUNT" title="MEASUREMENTS" title-align="center"
            content-align="center"></o-table-column>
    </o-table>
</o-form>