<o-form attr="plans_form_insert" service="plan" entity="plan" fxLayout="column" keys="PLN_ID" show-header="true"
  after-insert-mode="close" confirm-exit="false" header-actions="I;R;U">
  <div class="full-screen-background-with-toolbar">
    <div class="section">
      <h2>{{ 'PLAN_NEW' | oTranslate }}</h2>
      <div class="inline-fields">
        <o-text-input attr="PLN_NAME" label="NAME" required="yes"></o-text-input>
        <o-date-input #DATES attr="PP_START" value-type="timestamp" label="PP_START" read-only="no" required="yes"
          format="DD/MM/YYYY" show-week-numbers="true" mode="desktop" translate="yes">
        </o-date-input>
      </div>
    </div>
    <div class="section">
      <h2>{{ 'PRICES' | oTranslate }}</h2>
      <div class="inline-fields">
        <o-real-input attr="PP_FIXED_PRICE" label="PP_FIXED_PRICE" required="yes" max-decimal-digits="2"></o-real-input>
        <o-real-input attr="PP_DEV_PRICE" label="PP_DEV_PRICE" required="yes" max-decimal-digits="2"></o-real-input>
        <o-real-input attr="PP_BUNDLE_PRICE" label="PP_BUNDLE_PRICE" required="yes"
          max-decimal-digits="2"></o-real-input>
        <o-real-input attr="PP_BUNDLE_REQUESTS" label="PP_BUNDLE_REQUESTS" required="yes"
          max-decimal-digits="2"></o-real-input>
      </div>
    </div>
  </div>
</o-form>