<o-form attr="containers_form_insert" service="containers" entity="containers" fxLayout="column" keys="CNT_ID"
  show-header="true" confirm-exit="false">
  <o-row attr="row1" layout-align="start stretch">
    <o-column title="CONTAINER_DATA" layout-align="start stretch" fxFlex="60" layout-padding>
      <div fxLayout="row" fxLayoutAlign="start center" class="gap">
        <o-text-input attr="CNT_NAME" class="margin-right-24" fxFlex.lg="30" fxFlex.xl="30" fxFlex="50"></o-text-input>
      </div>
    </o-column>
  </o-row>
</o-form>