<o-form attr="newDestiny" service="transfers" entity="transfersDestiny" keys="TRA_ID" show-header="true"
    after-insert-mode="close" confirm-exit="false">
    <div class="full-screen-background-with-toolbar">
        <h2>{{ 'TRANSFER_NEW_DESTINY' | oTranslate }}</h2>
        <o-integer-input #inputDestiny attr="CL_ID_DESTINY" oHidden></o-integer-input>
        <o-table attr="tableDestiny" title="AVAILABLE_CNT" show-title="yes" service="containersLots"
            entity="containersLotsTransfers" columns="CNT_NAME;CL_START_DATE;CL_END_DATE" keys="CL_ID"
            visible-columns="CNT_NAME;CL_START_DATE;CL_END_DATE" parent-keys="CL_ID" delete-button="no"
            insert-button="no" refresh-button="false" quick-filter="no" detail-mode="none" selection-mode="single"
            select-all-checkbox-visible="yes" (onRowSelected)="onRowSelected($event)" virtual-scroll="no">

            <o-table-column attr="CNT_NAME" title="CNT_NAME" content-align="center"
                title-align="center"></o-table-column>
            <o-table-column attr="CL_START_DATE" title="CL_START_DATE" type="date" content-align="center"
                title-align="center"></o-table-column>
            <o-table-column attr="CL_END_DATE" title="CL_END_DATE" type="date" content-align="center"
                title-align="center"></o-table-column>
        </o-table>
    </div>
</o-form>