<o-form attr="transportsDetails" parent-keys="TRP_ID" keys="TRP_ID" keys-sql-types="INTEGER" service="transports"
  entity="transports" header-actions="R;U;D">
  <o-row attr="row1" layout-align="start stretch">
    <o-column title="TRP_DATA" layout-align="start stretch" layout-padding>
      <div class="inline-fields">
        <o-combo attr="TRP_ORIGIN" label="TRP_ORIGIN" service="transports" entity="transportsLocation"
          value-column="LOC_ID" columns="LOC_ID;LOC_NAME" visible-columns="LOC_NAME" null-selection="no"
          searchable="yes"></o-combo>
        <o-combo attr="TRP_DESTINATION" label="TRP_DESTINATION" service="transports" entity="transportsLocation"
          value-column="LOC_ID" columns="LOC_ID;LOC_NAME" visible-columns="LOC_NAME" null-selection="no"
          searchable="yes"></o-combo>
        <o-combo attr="CNT_ID" label="CONTAINER" service="transports" entity="transportsMovility" value-column="CNT_ID"
          columns="CNT_ID;CNT_NAME" visible-columns="CNT_NAME" null-selection="no" searchable="yes"></o-combo>
        <o-combo attr="VHC_ID" label="VEHICLE" service="transports" entity="transportsPlate" value-column="VHC_ID"
          columns="VHC_ID;VHC_PLATE" visible-columns="VHC_PLATE" null-selection="no" searchable="yes"></o-combo>
        <o-date-input attr="TRP_DATE" label="DELIVERY_DATE" read-only="no" required="yes"></o-date-input>
        <o-combo attr="TST_ID" label="TST_NAME" parent-keys="TRP_ID" service="transports" entity="transports"
          value-column="TST_ID" columns="TST_ID;TST_NAME" visible-columns="TST_NAME" searchable="no" required="yes"
          read-only="yes" translate="yes"></o-combo>
        <o-text-input attr="USR_NAME" label="TRP_NAME" translate="yes" read-only="yes"></o-text-input>
      </div>
    </o-column>
  </o-row>
  <app-transports-map></app-transports-map>
</o-form>