<o-form attr="costTable" service="alerts" entity="alertsWithCalculatedColumns" include-parent-keys="yes"
    parent-keys="ALT_ID" keys="ALT_ID" keys-sql-types="INTEGER"
    columns="ALT_ID;ALT_DATE_INIT;ALT_DATE_END;CNT_NAME;LOT_NAME;AVG_TEMP;AVG_HUMIDITY;MAX_TEMP_DEV;MAX_HUMIDITY_DEV;MIN_TEMP_DEV;MIN_HUMIDITY_DEV;ALT_MIN_TEMP;ALT_MAX_TEMP;PRO_ID;PRO_NAME;ALT_STATE;DEV_NAME"
    header-actions="R" undo-button="no" editable-detail="no" detect-changes-on-blur="no"
    (onDataLoaded)="fillData($event)">
    <div class="full-screen-background-with-toolbar">
        <div>
            <h2>{{ 'ALERTS_DETAIL' | oTranslate }}</h2>
            <div class="inline-fields-4">
                <o-text-input attr="DEV_NAME" label="DEV" read-only="true"></o-text-input>
                <o-text-input attr="CNT_NAME" read-only="true"></o-text-input>
                <o-text-input attr="LOT_NAME" read-only="true"></o-text-input>
                <o-text-input attr="PRO_NAME" read-only="true"></o-text-input>
            </div>
            <div class="inline-fields-4">

                <o-real-input #alertMinTemp attr="ALT_MIN_TEMP" read-only="true" hidden></o-real-input>
                <o-text-input attr="ALT_MIN_TEMP_VISIBLE" label="ALT_MIN_TEMP" read-only="true"
                    [data]="alertMinTemp.getValue() + ' Cº'" automatic-registering="false"
                    automatic-binding="false"></o-text-input>

                <o-real-input #alertMaxTemp attr="ALT_MAX_TEMP" read-only="true" hidden></o-real-input>
                <o-text-input attr="ALT_MAX_TEMP_VISIBLE" label="ALT_MAX_TEMP" read-only="true"
                    [data]="alertMaxTemp.getValue() + ' Cº'" automatic-registering="false"
                    automatic-binding="false"></o-text-input>

                <o-real-input #minTemp attr="MIN_TEMP_DEV" read-only="true" hidden></o-real-input>
                <o-text-input attr="MIN_TEMP_DEV_VISIBLE" label="MIN_TEMP_DEV" read-only="true"
                    [data]="minTemp.getValue() + ' Cº'" automatic-registering="false"
                    automatic-binding="false"></o-text-input>

                <o-real-input #maxTemp attr="MAX_TEMP_DEV" read-only="true" hidden></o-real-input>
                <o-text-input attr="MAX_TEMP_DEV_VISIBLE" label="MAX_TEMP_DEV" read-only="true"
                    [data]="maxTemp.getValue() + ' Cº'" automatic-registering="false"
                    automatic-binding="false"></o-text-input>
            </div>
            <div class="inline-fields-4">
                <o-text-input attr="ALT_DATE_INIT" #alert_date_init hidden></o-text-input>
                <o-text-input attr="ALT_DATE_INIT1" label="ALT_DATE_INIT" automatic-binding="no"
                    automatic-registering="no" read-only="true"
                    [data]="alert_date_init.getValue() | dateRenderer"></o-text-input>

                <o-text-input attr="ALT_DATE_END" #alertDateEnd hidden> </o-text-input>
                <o-text-input attr="ALT_DATE_END1" label="ALT_DATE_END" automatic-binding="no"
                    automatic-registering="no" read-only="true" [data]="alertDateEndVisible"></o-text-input>

                <o-text-input attr="ALT_DURATION" title="DURATION" automatic-binding="no" automatic-registering="no"
                    read-only="true" [data]="getCellData(alert_date_init.getValue(), alertDateEnd.getValue())"
                    content-align="center">
                </o-text-input>
                <o-real-input #avgHumidity attr="AVG_HUMIDITY" read-only="true" hidden></o-real-input>
                <o-text-input attr="AVG_HUMIDITY_VISIBLE" label="AVG_HUMIDITY" read-only="true"
                    [data]="avgHumidity.getValue() + '%'" automatic-registering="false"
                    automatic-binding="false"></o-text-input>
            </div>
        </div>
        <div>
            <div id="tablaMedidasContainer">
                <o-table #measurementsTable attr="tablaMedidas" service="measurements" entity="measurements"
                    parent-keys="ALT_ID" columns="DEV_ID;DEV_NAME;ME_DATE;ME_TEMP;ME_HUMIDITY"
                    (onDataLoaded)="fillChart($event)">
                    <o-table-column attr="ME_DATE" type="date"></o-table-column>
                    <o-table-column attr="ME_TEMP" type="real"></o-table-column>
                    <o-table-column attr="ME_HUMIDITY" type="real"></o-table-column>

                </o-table>
            </div>
            <div class="chart-grid">
                <o-chart #lineChartBasic type="line" [chart-parameters]="chartParametersTemp"
                    x-label="{{ 'TIME' | oTranslate }}" y-label="{{ 'TEMPERATURE' | oTranslate }}"
                    [color]="colorSchemeTemp" [data]="dataArrayTemp" show-grid-lines="true"></o-chart>
            </div>
            <div class="chart-grid" style="margin-top: 24px;">
                <o-chart #lineChartBasic type="line" [chart-parameters]="chartParametersHum"
                    x-label="{{ 'TIME' | oTranslate }}" y-label="{{ 'HUMIDITY' | oTranslate }}" [color]="colorSchemeHum"
                    [data]="dataArrayHum" show-grid-lines="true"></o-chart>
            </div>
        </div>
    </div>
</o-form>