<o-form attr="lots_form_insert" service="lots" entity="lots" fxLayout="column" keys="LOT_ID" show-header="true"
    after-insert-mode="close" confirm-exit="false">
    <o-row attr="row1" layout-align="start stretch">
        <o-column title="LOT_DATA" layout-align="start stretch" fxFlex="60" layout-padding>
            <div fxLayout="row" fxLayoutAlign="start center" class="gap">
                <o-text-input attr="LOT_NAME" class="margin-right-24" fxFlex.lg="30" fxFlex.xl="30"
                    fxFlex="50"></o-text-input>
                <o-real-input attr="MIN_TEMP" clear-button="yes"></o-real-input>
                <o-real-input attr="MAX_TEMP" clear-button="yes"></o-real-input>
            </div>
        </o-column>
    </o-row>
</o-form>