<o-table attr="billsTable" service="bills" entity="bills" keys="BIL_ID"
    columns="BIL_ID;BIL_YEAR;BIL_MONTH;BIL_EXPENSE;BIL_DEVICES;BIL_MEASUREMENTS;CMP_ID;CMP_NAME"
    visible-columns="BIL_YEAR;BIL_MONTH;BIL_EXPENSE;BIL_DEVICES;BIL_MEASUREMENTS;CMP_NAME" title="BILLS" query-rows="20"
    select-all-checkbox-visible="no" insert-button="no" delete-button="no" refresh-button="yes" quick-filter="no"
    pageable="true" detail-mode="none" show-title="yes">
    <!-- Columnas de la Tabla -->
    <o-table-column attr="BIL_YEAR" title-align="center" content-align="center"></o-table-column>
    <o-table-column attr="BIL_MONTH" title-align="center" content-align="center"></o-table-column>
    <o-table-column attr="BIL_EXPENSE" format="" title-align="center" content-align="center"></o-table-column>
    <o-table-column attr="BIL_DEVICES" title-align="center" content-align="center"></o-table-column>
    <o-table-column attr="BIL_MEASUREMENTS" title-align="center" content-align="center"></o-table-column>
    <o-table-column attr="CMP_NAME" title-align="center" content-align="center"></o-table-column>
</o-table>