<o-form attr="transportersDetail" parent-keys="TRP_ID" keys="TRP_ID" keys-sql-types="INTEGER" service="transports"
  entity="transports" header-actions="R;U">
  <o-row attr="row1" layout-align="start stretch">
    <o-column title="TRP_DATA" layout-align="start stretch" layout-padding>
      <div class="inline-fields">
        <o-button attr="LOT_IMPORT" type="RAISED" label="Iniciar" layout-padding color="primary"></o-button>
        <o-button attr="LOT_IMPORT" type="RAISED" label="Finalizar" layout-padding color="primary"></o-button>
      </div>
    </o-column>
  </o-row>
</o-form>