<o-form #form attr="transportersDetail" parent-keys="TRP_ID" keys="TRP_ID" keys-sql-types="INTEGER" service="transports"
  entity="transports" header-actions="R;U">
  <o-row attr="row1" layout-align="start stretch">
    <o-column title="TRP_DATA" layout-align="start stretch" layout-padding>
      <div class="inline-fields">
        <o-text-input attr="ORIGIN_NAME" read-only="yes"></o-text-input>
        <o-text-input attr="DESTINATION_NAME" read-only="yes"></o-text-input>
        <o-date-input attr="TRP_DATE" label="DELIVERY_DATE" read-only="yes"></o-date-input>
        <o-text-input attr="VHC_PLATE" read-only="yes"></o-text-input>
        <o-text-input #stateInput attr="TRP_STATE"></o-text-input>

        <o-button #init attr="BTN_INIT" type="RAISED" label="BTN_INIT" layout-padding color="accent"
          (onClick)="setStatusInit()"></o-button>

        <o-button #end attr="BTN_END" type="RAISED" label="BTN_END" layout-padding color="warn"
          (onClick)="setStatusEnd()"></o-button>

      </div>
    </o-column>
  </o-row>
</o-form>