<o-form attr="locationsTable" parent-keys="LOC_ID" keys="LOC_ID" keys-sql-types="INTEGER" service="locations"
    entity="locations" header-actions="R;U;D">
    <o-row attr="row1" layout-align="start stretch">
        <o-column title="TEMP_LOT" layout-align="start stretch" fxFlex="60" layout-padding>
            <div class="inline-fields">
                <o-text-input attr="LOC_NAME"></o-text-input>
                <o-text-input attr="LOC_ADDRESS"></o-text-input>
            </div>
        </o-column>
    </o-row>
</o-form>