<o-form attr="locationsTable" parent-keys="LOC_ID" keys="LOC_ID" keys-sql-types="INTEGER" service="locations"
    entity="locations" header-actions="R;U;D">
    <div class="full-screen-background-with-toolbar">
        <h2>{{ 'LOC_DATA' | oTranslate }}</h2>
        <div class="inline-fields">
            <o-text-input attr="LOC_NAME" label="NAME" required="true"></o-text-input>
            <o-text-input attr="LOC_ADDRESS" class="address" required="true"></o-text-input>
        </div>
    </div>
</o-form>