<div class="full-screen-background-table">
    <o-table attr="devicesTable" title="DEVICES" service="devices" entity="lastTime" keys="DEV_ID"
        columns="DEV_ID;DEV_NAME;DEV_STATE;CMP_ID;ME_TEMP;ME_HUMIDITY"
        visible-columns="DEV_NAME;ME_DATE;ME_TEMP;ME_HUMIDITY;DEV_STATE" insert-button="false" delete-button="false"
        show-title="true" virtual-scroll="false" horizontal-scroll="true">
        <o-table-column attr="DEV_NAME" title="NAME"></o-table-column>
        <o-table-column attr="ME_HUMIDITY" title="HUMIDITY"></o-table-column>
        <o-table-column attr="ME_TEMP" title="TEMPERATURE"></o-table-column>
        <o-table-column attr="ME_DATE" title="LATEST_READING">
            <app-devices-column-renderer></app-devices-column-renderer>
        </o-table-column>
        <o-table-column attr="DEV_STATE" title="DEVICE_ENABLED">
            <app-devices-boolean-renderer></app-devices-boolean-renderer>
        </o-table-column>
    </o-table>
</div>