<o-form attr="newOrigin" service="transfers" entity="transfersOrigin" keys="TRA_ID" show-header="true"
    after-insert-mode="close" confirm-exit="false">
    <o-integer-input #inputOrigin attr="CL_ID_ORIGIN" oHidden></o-integer-input>
    <o-table attr="tableOrigin" title="AVAILABLE_CNT" show-title="yes" service="containersLots"
        entity="containersLotsTransfersOrigin" columns="CNT_NAME;CL_START_DATE;CL_END_DATE" keys="CL_ID"
        visible-columns="CNT_NAME;CL_START_DATE;CL_END_DATE" parent-keys="CL_ID" delete-button="no" insert-button="no"
        refresh-button="false" quick-filter="no" detail-mode="none" selection-mode="single"
        select-all-checkbox-visible="yes" (onRowSelected)="onRowSelected($event)" virtual-scroll="no">

        <o-table-column attr="CNT_NAME" title="CNT_NAME" content-align="center" title-align="center"></o-table-column>
        <o-table-column attr="CL_START_DATE" title="CL_START_DATE" type="date" content-align="center"
            title-align="center"></o-table-column>
        <o-table-column attr="CL_END_DATE" title="CL_END_DATE" type="date" content-align="center"
            title-align="center"></o-table-column>
    </o-table>
</o-form>