<o-form-layout-manager mode="tab" store-state="no" title="MEDIDAS" label-columns="dev_mac" attr="o-form-layout-users-home"
                       title-data-origin="users_form_edit">
  <o-form show-header="no" query-on-init="no" fxFill>

    <o-table #usersTable attr="measurements" service="measurements" entity="measurements" keys="me_id"
             columns="me_id;me_temp;me_humidity;me_date;dev_mac" visible-columns="me_temp;me_humidity;me_date;dev_mac"
             sort-columns="me_date" query-rows="25" quick-filter="no" row-height="medium" pageable="no" query-on-init="yes" query-on-bind="false"
             select-all-checkbox-visible="no" insert-button="no" delete-button="no" refresh-button="no" fixed-header="yes"
             class="home-table" fxFlex export-mode="local">
      <o-table-columns-filter columns="me_date;me_temp;me_humidity;dev_mac"></o-table-columns-filter>
    </o-table>

  </o-form>
</o-form-layout-manager>
